
.formulario-contenedor {
    max-width: 700px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 3px 15px #ccc;
}

.campo {
    margin-bottom: 20px;
}

.campo label {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
}

.campo input,
.campo select,
.campo textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.campo textarea {
    min-height: 120px;
}

.campo small {
    display: block;
    color: red;
    margin-top: 5px;
}

button {
    background: #39ff14;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #25c900;
}




.producto a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
}




@media (max-width: 768px) {

    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
    }

    .productos-container {
        flex-direction: column;
    }

    .admin-container {
        flex-direction: column;
    }

    .admin-menu {
        width: auto;
    }

    .admin-cards {
        flex-direction: column;
    }

}